.git
.gitignore
.DS_Store
node_modules
dist
backups
logs
runtime
.tmp
.vscode
tmp-fonts
Book1.xlsx
allsale.xlsx
allsaletes.xlsx
allsaletest02042026.xlsx
member003.xlsx
saletest05042026.xlsx
picture
commission
preflight-backups
stephub-shoes-store-app-with-backend-2024-08-07-09-39-19-utc
