REACT_APP_API_BASE_URL=/api
REACT_APP_BAO_BASE_URL=/bao-api
REACT_APP_LINE_LIFF_ID=2009662380-OAbgN6VR
REACT_APP_LINE_LIFF_SIGNIN_URL=https://wap.blifehealthy.com/line/liff/signin
REACT_APP_LINE_LOGIN_CALLBACK_URL=https://wap.blifehealthy.com/line/liff/signin
